{% extends "v2/layouts/two_col.html" %}

{% block primary_content %}

<div class="row margin-bottom-30">
    	<div class="col-md-6 md-margin-bottom-40">
            <p>
				I'm a Minneapolis based artist, software engineer, and tinkerer. By day, I am a dev lead for 
				<a href="http://www.webfilings.com">Webfilings</a> and by night I am an artist for the <a href="http://www.dimmedia.com">Dim Media Artist Collaborative</a>.
			</p>
			<p>	
				I'm married to a wonderful human being named Katie (<a href="http://www.usuallypolite.com">@UsuallyPolite</a>) who happens to be an amazing designer. We make art together.
			</p>
            




			<ul class="list-unstyled">
				<b>Some Former Accomplishments</b>
                <li><i class="icon-ok color-green"></i> Founder &amp; Director of Art Attack (later Adamantine Arts)</li>
                <li><i class="icon-ok color-green"></i> Webmaster of NW Wisconsin's Local Music Online community</li>
                <li><i class="icon-ok color-green"></i> Creator of the Surplus Bio-Freaks Comic</li>
                <li><i class="icon-ok color-green"></i> Dissonance In the Void Drummer</li>
                <li><i class="icon-ok color-green"></i> Board Member of Articulture</li>
                <li><i class="icon-ok color-green"></i> Podcaster</li>
            </ul><br>

			{% comment %}
            <!-- Blockquotes -->
            <blockquote>
                <p>I don't like to write about myself. Can you make me sound like a decent person?</p>
                <small>me to Katie</small>
            </blockquote>
			{% endcomment %}
        </div>

    	<div class="col-md-6 md-margin-bottom-40">
	
			<div class="thumbnail">
				<a class="fancybox-button zoomer" data-rel="fancybox-button" title="My Wife Katie and I on our wedding day" href="/static/about_wedding.jpg">
					<span class="overlay-zoom">  
						<img class="img-responsive" src="/static/about_wedding.jpg" alt="">
						<div class="zoom-icon"></div>                   
					</span>                                              
				</a>           
				<div class="caption">
					<p>Katie and me on our wedding day. Photo by <a href="http://www.sbhphotography.com/" target="_new">SBH Photography</a></p>                           
				</div>
			</div>	
	
	
	

        </div>
    </div>

<!-- 
<div class="headline"><h2>Artist Statement</h2></div>
	sdfsdf
	
<div class="headline"><h2>Vita</h2></div>
-->
	
	
	
	
{% endblock primary_content %}