{% extends "v2/projects/base.html" %}


{% block primary_content %}
	<div class="row">
    	<div class="col-md-12 info-blocks">
			Below is a somewhat organized listing of various things that don't really do anywhere else. Enjoy at your own risk.
		</div>
	</div>

	<div class="row">

	    <div class="col-md-12 info-blocks">
	        <i class="icon-gears icon-info-blocks"></i>
	        <div class="info-blocks-in">
	            <h3>Archives</h3>
				
				<ul>
				</ul>
	        </div>
	    </div>

	    <div class="col-md-12 info-blocks">
	        <i class="icon-gears icon-info-blocks"></i>
	        <div class="info-blocks-in">
	            <h3>Web examples</h3>
				
				<ul>
					<li><a href="http://archives.blainegarrett.com/websites/blainegarrett/2002/index.html">My Homepage Splash Screen circa 2002</a> - One of my first experiments with Javascript</li>
				</ul>
	        </div>
	    </div>



	    <div class="col-md-12 info-blocks">
	        <i class="icon-gears icon-info-blocks"></i>
	        <div class="info-blocks-in">
	            <h3>Random Things</h3>
				
				<ul>
					<li><a href="http://archives.blainegarrett.com/websites/blainegarrett/2002/ascii_blaine.html">ASCII Blaine circa 2002</a> - An ascii rendering of an old photo of me. I was so Emo.</li>
					<li><a href="http://archives.blainegarrett.com/websites/blainegarrett/2002/webcamattack/index.html">Webcamattack circa 2002</a> - A js animation test and image loading test. Again, Emo.</li>
				</ul>
	        </div>
	    </div>


	</div>

{% endblock primary_content %}