{% extends "v2/layouts/two_col.html" %}

{% block primary_content %}
	Lorem and suchs
{% endblock primary_content %}


{% block secondary_content %}

<!-- Our Services -->
<div class="who margin-bottom-30">
    <div class="headline"><h2>Our Services</h2></div>
    <p>At vero eos et accusamus et iusto odio dign issimos ducimus qui blanditiis iusto.</p>
    <ul class="list-unstyled">
        <li><a href="#"><i class="icon-desktop"></i>Vivamus imperdiet condimentum</a></li>
        <li><a href="#"><i class="icon-bullhorn"></i>Anim pariatur cliche squid</a></li>
        <li><a href="#"><i class="icon-globe"></i>Eget placerat felis consectetur</a></li>
        <li><a href="#"><i class="icon-group"></i>Condimentum diam eget placerat</a></li>
    </ul>
</div>

<!-- About Us -->
<div class="headline"><h2>About Us</h2></div>
<p class="margin-bottom-30">At vero eos et acc usamus et iusto odio dign issimos ducimus atque corrupti quos dolores etrerum facilis est etenim a feugiat cupiditate non quos. <a class="read-more" href="#">Read more</a></p>

<!-- Contact Us -->
<div class="who margin-bottom-30">
    <div class="headline"><h2>Contact Us</h2></div>
    <p>Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.</p>
    <ul class="list-unstyled">
        <li><a href="#"><i class="icon-home"></i>5B amus ED554, New York, US</a></li>
        <li><a href="#"><i class="icon-envelope-alt"></i>infp@example.com</a></li>
        <li><a href="#"><i class="icon-phone-sign"></i>1(222) 5x86 x97x</a></li>
        <li><a href="#"><i class="icon-globe"></i>http://www.example.com</a></li>
    </ul>
</div>

{% endblock secondary_content %}