{% extends "v2/layouts/two_col.html" %}

{% block primary_content %}

	<div class="row">
		<p>
			Do you need to reach me? Here are a couple options.
		</p>
        <div class="col-md-6 info-blocks">
            <i class="icon-picture icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3><a href="http://www.dimmedia.com/contact/" target="_new">Art Contact Info</a></h3>
                <p>For questions about art, commissions, etc visit the <a href="http://www.dimmedia.com/contact/" target="_new">Dim Media contact page</a>. </p>
            </div>
        </div>
        <div class="col-sm-6 info-blocks">
            <i class="icon-envelope icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3><a href="mailto:blaine@blainegarrett.com">Personal Contact Info</a></h3>
                <p>All other questions and comments can be directed to <a href="mailto:blaine@blainegarrett.com">blaine@blainegarrett.com</a></p>
            </div>
        </div>
    </div>
{% endblock primary_content %}