{% extends "v2/layouts/two_col.html" %}

{% block primary_content %}

		<p>This is a somewhat organized pile of links I think you should check out. Go Go Google Juice.</p>

		<h3>My Stuff</h3>
		<ul>
			<li><a href="http://dimmedia.com">Dim Media</a> - Twin Cities collaborative arts crew I'm a part of</li>
			<li><a href="http://mplsart.com">MPLSART.COM</a> - Event and Gallery Listings for Minneapolis/St.Paul - The Site I co-run with Katie</li>
		</ul>

		<h3>Other Projects</h3>
		<ul>
			<li><a href="http://karnakgallery.com">All Over The Walls</a> - The 2011 Documentary about the Karnak Gallery Dim was a part of</li>
			<li><a href="http://antistarband.com">Antistar</a> - Northern Wisconsin Hard Rock - I admin their site</li>
			<li><a href="http://blaineandkatie.com">My Wedding Website</a> - The website Katie and I put together for our wedding in 2012</li>
		</ul>

		<h3>Art</h3>
		<ul>
			<li><a href="http://dimmedia.com">Dim Media</a> - Twin Cities Collaborative Arts Crew</li>
			<li><a href="http://joeaschebrock.blogspot.com/">Joe Aschebrock</a> - One of my favorite local artists</li>
			<li><a href="http://jeffpetrich.com">The Art of Jeff Petrich</a> - My former neighbor's art (RIP)</li>
		</ul>

		<h3>Music</h3>
		<ul>
			<li><a href="https://soundcloud.com/eecee">Ian Lehman's Sound Cloud</a> - Friend and awesome producer (Doubt, Endo Calrissian, etc)</li>
		</ul>

		<h3>Friends &amp; Coworkers</h3>
		<ul>
			<li><a href="http://usuallypolite.com">Usually Polite</a> - My Wife Katie's website featuring her design work</li>
			<li><a href="http://www.chrisfinke.com/">Talk Less Do More</a> - Chis Finke, former co-worker and good guy.</li>
			<li><a href="http://www.showlett.com/">In the Snow, Somewhere</a> - Website of Portland-based turntable toucher Simon Howlett</li>
			<li><a href="http://theisensanders.com/">Theisen Sanders</a> - Coworker and one of the best developers I know</li>
			<li><a href="http://blog.acespirits.com">Ace Spirits' Blog</a> - Blog for Ace Spirits that my buddy Louis owns</li>
		</ul>

		<h3>Odds &amp; Ends</h3>
		<ul>
			<li><a href="http://www.edining.ca/1837/recipes/Heroes_Glug_Glogg_(Swedish_hot_mulled_wine)">My Favorite Glögg Recipe</a> - Seriously, this is great</li>
		</ul>

{% endblock primary_content %}