<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <!-- <img id="logo-header" src="/static/themes/v2/assets/img/logo1-default.png" alt="Logo"> -->
				<img id="logo-header" src="/static/themes/v2/assets/logo.png" alt="Blaine Garrett" title="Click to return to homepage" class="logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
         
			<ul class="nav navbar-nav navbar-right">
                <li{% ifequal active_menu_tab 'home' %} class="active"{% endifequal %}><a href="/">Home</a></li>
				<li{% ifequal active_menu_tab 'about' %} class="active"{% endifequal %}><a href="/about/">About</a></li>
				<li{% ifequal active_menu_tab 'blog' %} class="active"{% endifequal %}><a href="/blog/">Blog</a></li>
				<li{% ifequal active_menu_tab 'artwork' %} class="active"{% endifequal %}><a href="/art/">Art</a></li>
				<li{% ifequal active_menu_tab 'programming' %} class="active"{% endifequal %}><a href="/programming/">Programming</a></li>
				
				{% comment %}
				<li{% ifequal active_menu_tab 'projects' %} class="active"{% endifequal %}><a href="/projects/">Projects</a></li>					
				<!--
				<li><a href="/links/">Links</a></li>
				<li><a href="/clients">Clients</a></li>
				<li><a href="/contact/">Contact</a></li>
				-->
				{% endcomment %}
            </ul>
        </div><!-- /navbar-collapse -->
    </div>    
</div>