{% extends "v2/projects/base.html" %}

{% block primary_content %}

	<div class="row">

	    <div class="col-md-12 info-blocks">
	        <i class="icon-gears icon-info-blocks"></i>
	        <div class="info-blocks-in">
	            <h3>Active Projects on Github</h3>
				
				<ul>
					<li><a href="">WLC Youth</a>
					<li><a href="">Wittier Business Alliance</a>
					<li><a href="">Azia Restaurant</a>
					<li><a href="">..</a>
				</ul>
	        </div>
	    </div>
	</div>

{% endblock primary_content %}