{% extends "v2/projects/base.html" %}


{% block primary_content %}

	<div class="row">

	    <div class="col-md-12 info-blocks">
	        <i class="icon-gears icon-info-blocks"></i>
	        <div class="info-blocks-in">
	            <h3>Active Projects on Github</h3>
				
				<ul>
					<li><a href="https://github.com/blainegarrett/gae-static">GAE-Static</a> - A simple base project starter for static websites on Google AppEngine & Google Cloud Services</li>
					<li><a href="https://github.com/blainegarrett/merkabah">Merkabah</a> - A pluggable framework for building data driven websites on Google Appengine
						<ul>
							<li><a href="https://github.com/blainegarrett/merkabah-blog">Merkabah Blog Plugin</a> - Blog Plugin for Merkabah framework</li>
							<li><a href="https://github.com/blainegarrett/merkabah-artwork">Merkabah Artwork Plugin</a> - Artwork Plugin for Merkabah framework</li>
							<li><a href="https://github.com/blainegarrett/merkabah-photo">Merkabah Photo Plugin</a> - Simple Photo Gallery Plugin for Merkabah framework</li>
							<li><a href="https://github.com/blainegarrett/merkabah-blog">Merkabah Blog Plugin</a> - Simple Blog Plugin for Merkabah framework</li>
						</ul>
					</li>
					<li><a href="https://github.com/blainegarrett/snowflake">Snowflake</a> - A collection of math and physics algorithms</li>
				</ul>
	        </div>
	    </div>

	    <div class="col-md-12 info-blocks">
	        <i class="icon-gears icon-info-blocks"></i>
	        <div class="info-blocks-in">
	            <h3>Old Projects</h3>
				
				<ul>
					<li><a href="https://github.com/blainegarrett/gae-static">Narwhal Wikipedia Parser</a> - A Regular Expression based parser of wikipedia content. Developed for Lexico and Reference.com 2005 </li>
					<li><a href="https://github.com/blainegarrett/merkabah">OXWAF</a> - PHP and XML based CMS system developed as part of my Senior Project at the U of M - Powered many of the JRCorps sites</li>
					<li><a href="https://github.com/blainegarrett/snowflake">Snowflake</a> - A collection of math and physics algorithms</li>
				</ul>
	        </div>
	    </div>


	</div>

{% endblock primary_content %}