<div class="wrapper" style="min-height : 600px;">
	<div class="container-fluid text-background content-main">
		<div class="padding-wrapper">
	
			<div class="row-fluid">
				<div class="span12 page-header">
					<h1>Artwork</h1>
					<p class="subtitle">Artwork returning soon. In the mean time, here is a bunch of filler.</p>
				</div>
			</div>
		
			<div class="row-fluid">
				<div class="span12">
					<div id="map_canvas"></div>
				</div>
			</div>
		

			<div class="row-fluid" style="text-align:center;">
				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>

				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>


				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>


				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>
			</div>
						
			
			
			<div class="row-fluid" style="text-align:center;">
				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>

				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>


				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>


				<div class="span3">
					<a class="lightview" data-lightview-group="index" data-lightview-title="Image Title" data-lightview-caption="You can give your images captions" href="images/800x600.gif">
						<img class="thumbnail" src="/static/themes/corporatus/images/220x150.gif" alt="Placeholder Image" />
					</a>
				</div>
			</div>
						
		
		</div>
	</div>

</div>