<div class="wrapper" style="min-height : 600px;">
	<div class="container-fluid text-background content-main">
		<div class="padding-wrapper">
			{% comment %}
			<div class="row-fluid">
				<div class="span12 page-header">
					<h1>Blog</h1>
					<p class="subtitle">My Blog Is Returning Shortly.</p>
				</div>
			</div>
			{% endcomment %}
			
			<div class="row-fluid">
				<div class="span9">
					{% for post in posts %}
						{% include 'blog/list_post.html' %}
					{% empty %}
						<b>No posts</b>
					{% endfor %}
				</div>
				
				<div class="span3">
					<ul>
						{% for post in posts2 %}
							<li>{{post.title}}</li>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>