{% load tt_blog %}



<style>
	.blog_entry {
		
		padding-bottom : 20px;
		padding-top : 20px;		
	}
	.blog_entry h2 {
		font-weight : normal;
	}
	.post-info-wrap { margin-left: -51px; float: left; clear: both; margin-bottom: 15px; }
	.post-info-wrap-home { margin-left: -31px; float: left; clear: both; margin-bottom: 15px; }
	.post-info { float: left; color: #fff; margin: 0px; display: block; background-image: url('/static/themes/corporatus/img/ribbon_bj.gif'); height: 41px; font-size: 19px; padding: 8px 60px 0px 40px; }
	.post-info a:link, .post-info a:hover, .post-info a:visited { color: 	#ffe8a1; }
	.home-title-image { float: left; }
	
	.readmore-container {
			border-bottom : 2px dotted silver;
	}
	.readmore2 {
		margin: 20px 0px -29px 0px;
		float: right;
		border: none;
	}	
	
	.wrapper .padding-wrapper {
		padding: 20px 40px 20px 20px;
	}

</style>


<div class="wrapper" style="min-height : 600px;">

	<div class="container-fluid text-background content-main">


		<div class="padding-wrapper">
	



			<div class="row-fluid">
				<div class="span12 page-headxer">
					<h1>{{post.title}}</h1>
					<!-- <p class="subtitle">My Blog Is Returning Shortly.</p> -->
				</div>
			</div>

			<div class="post-info-wrap"> 
				<img src="/static/themes/corporatus/img/ribbon_wrap.gif" alt="home title" class="home-title-image" /> 
				<span class="post-info">Posted on {{ post.published_date }}</span> 
				<img src="/static/themes/corporatus/img/ribbon_end.gif" alt="home title" class="home-title-image" />
			</div>

			<div class="row-fluid">
				<div class="span12">
					{% render_content post.content %}
				</div>
			</div>
		</div>
	</div>
</div>