{% extends "v2/base.html" %}
{% block body_content %}

	{% with '<link rel="stylesheet" href="/static/themes/v2/assets/css/pages/page_404_error.css"><div class="container"><div class="row"><div class="col-md-8 col-md-offset-2"><div class="error-v1"><span class="error-v1-title">500</span><span>That’s an error!</span><p>Something went horrible wrong. You can click the back button on your browser and try again or <a href="/"> return to the homepage</a></p></div></div></div></div>' as body_content %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

