{% extends "merkabah/base.html" %}

{% block meta_title %} {{ content_title }} | Swarling Black Mable {% endblock %}

{% block head_content %}
	<!-- theme tags -->	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/static/themes/corporatus/css/theme-style.css" rel="stylesheet" />
	<link href="/static/themes/corporatus/css/theme-phone.css" rel="stylesheet" />
	<link href="/static/themes/corporatus/css/theme-tablet.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Limelight" rel="stylesheet" type="text/css" />
	<!-- end theme tags -->	

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<!-- 
	<link rel="shortcut icon" href="../assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	-->	


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>SyntaxHighlighter Build Test Page</title>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="/static/sytaxhighlighter/scripts/shBrushXml.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/sytaxhighlighter/styles/shCore.css"/>
	<link type="text/css" rel="stylesheet" href="/static/sytaxhighlighter/styles/shThemeDefault.css"/>
	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = '/static/sytaxhighlighter/scripts/clipboard.swf';
		SyntaxHighlighter.all();
	</script>

{% endblock %}


{% block body_content %}
	
	{% include "menu.html" %}
	
	<style>
	/* Overrides for old blog styles */
	.alignleft { float:left; margin-right:20px; }
	.alignright { float:right; margin-left:20px; }
	</style>
	
	<!-- header-padding : this div adds padding to push content below fixed menu -->
	<div class="header-padding hidden-phone hidden-tablet">&nbsp;</div>
	
	<!-- start wrapper -->
	<div ng-view id="body_content">
		{{ body_content|safe}}
	</div>
	<!-- end wrapper -->

	{% include "footer.html" %}
{% endblock %}
