<div class="wrapper" style="min-height : 600px;">

	<div class="container-fluid text-background content-main">
		<div class="padding-wrapper">
	
			<div class="row-fluid">
				<div class="span12 page-header">
					<h1>Bootstrap UI Demos</h1>
					<p class="subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		
			<div class="row-fluid">
				<div class="span12">
				
					<strap-tabs>
					  	<strap-tab title="Hello">Content</strap-tab>
					  	<strap-tab title="getTitle()"><h1>I love things!</h1></strap-tab>
					  	<div ng-repeat="stuff in things">
					  		<strap-tab title="{{stuff}}">{{stuff.things}}</strap-tab>
					  	</div>
					  </strap-tabs>				
				
				
					<h2>Dropdown</h2>
					<div class="dropdown" dropdown>
						<a href="">Click here?</a>
					  <!-- Link or button to toggle dropdown -->
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li><a tabindex="-1" href="#">Action</a></li>
					    <li><a tabindex="-1" href="#">Another action</a></li>
					    <li><a tabindex="-1" href="#">Something else here</a></li>
					    <li class="divider"></li>
					    <li><a tabindex="-1" href="#">Separated link</a></li>
					  </ul>
					</div>
				
					<br />
				
					<h2>Button Groups</h2>
					<div class="btn-group">
					  <button class="btn">1</button>
					  <button class="btn">2</button>
					  <button class="btn">3</button>
					</div>

					<span class="label label-inverse">Inverse</span>

					<p>Tight <a href="#" rel="tooltip" tooltip title="first tooltip">pants</a> next level keffiyeh you probably haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel have a terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan whatever keytar, scenester farm-to-table banksy Austin twitter handle freegan cred raw denim single-origin coffee viral.</p>
				
				</div>
			</div>
		
		</div>
	</div>

</div>
