{% load tt_blog %}
<!-- Start Footer -->
<footer class="footer">
		<div class="padding-wrapper">
			<div class="container-fluid">
				<div class="row-fluid">
					
					

					<div class="span5 hidden-phone hidden-tablet blog-list-widget">
						{% newest_blog_posts %}						
					</div>

					
					<div class="span4 hidden-phone hidden-tablet">
						<div class="footer-heading">
							<h3>About Me</h3>
						</div>
						
						<div class="row-fluid">
							<img src="/static/themes/corporatus/img/footer-about-photo.jpg" style="float:left; margin-right:15px;" alt="">
							<p style="text-align:justify;">Blaine Garrett is a Minneapolis-based web designer, fine artists, and general jack of all trades. When he is not designing next-generation web applications or feverishly painting away, he dabbles in other creative endeavors as well as enjoying the fruits of the luscious Twin Cities. </p>
						</div>
					</div>
					
					<div class="span3 span-contact">
						<div class="footer-heading">
							<h3>Elsewhere</h3>
						</div>
						
							<div class="row-fluid">							
								<div class="span4">
									<a href="http://twitter.com/blainegarrett" class="social-icon twitter"><i>&nbsp;</i></a>
								</div>

								<div class="span4">
									<a href="http://facebook.com/blainegarrett" class="social-icon facebook"><i>&nbsp;</i></a>
								</div>

								<div class="span4">
									<a href="http://www.linkedin.com/in/blainegarrett" class="social-icon linkedin"><i>&nbsp;</i></a>
								</div>
							</div>

							<div class="row-fluid">&nbsp;</div>

							<div class="row-fluid">
								<div class="span4">
									<a href="http://twitter.com/blainegarrett" class="social-icon pinterest"><i>&nbsp;</i></a>
								</div>

								<div class="span4">
									<a href="#" class="social-icon rss"><i>&nbsp;</i></a>
								</div>				
							</div>
						</div>

					</div>
					
				</div>
				
				
			</div>
		</div>
	</footer>
<!-- end footer -->
