
<!-- start carousel -->
<div class="container-fluid">
	<div class="padding-wrapper">
		<!-- start navigation tabs -->
		<div id="myCarousel" class="carousel slide">
			<ul class="nav nav-tabs" id="myTab">
				{% for panel in panels %}
			  		<li><a data-toggle="tab" ng-click="showTab({{forloop.counter0 }}, $event)" href="#tab{{forloop.counter0 }}">{{panel.title}}</a></li>
				{% endfor %}			
			</ul>
		<!-- end navigation tabs -->

         <div class="carousel-inner" style="border : 10px solid #222;">
				{% for panel in panels %}
	           <div class="item{% if forloop.first %} active{% endif %}">
	             <img src="{{ panel.image_path}}" style="height:100%; width:100%" />
	             <div class="carousel-caption">
	               <h4>{{ panel.title }}</h4>
	               <p>{{ panel.description }}</p>
	             </div>
	           </div>
				{% endfor %}
         </div>
         <a class="left carousel-control" ng-click="showTab('next', $event)" href="#myCarousel" data-slide="prev">‹</a>
         <a class="right carousel-control" ng-click="showTab('prev', $event)" href="#myCarousel" data-slide="next">›</a>

       </div>
	</div>
</div>
<!-- end carousel -->