<div class="wrapper" style="min-height : 600px;">

	<div class="container-fluid text-background content-main">

		<div class="padding-wrapper">
	
			<div class="row-fluid">
				<div class="span12 page-header">
					<h1>Links</h1>
					<p class="subtitle">The following are various links to friends' sites or sites I find interesting or useful.</p>
				</div>
			</div>
		

			<div class="row-fluid">
				<div class="span2">
					<h3>Artists</h3>
					<p>Artists I enjoy</p>
				</div>
				<div class="span7">
					<ul>
						<li><a href="http://dimmedia.com">Dim Media</a> - Twin Cities Collaborative Arts Crew</li>
					</ul>
				</div>
				<div class="span3">
					<a class="lightview" href="images/about-mf-large.png" data-lightview-title="The Millennium Falcon" data-lightview-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
						<img class="thumbnail" src="images/about-mf.png" alt="Millenium Falcon">
					</a>
				</div>
			</div>
		
			<div class="row-fluid">
				<div class="span2">
					<h3>Friends</h3>
					<p>Links from various friends and co-workers.</p>
				</div>
				<div class="span7">
					<ul>
						<li><a href="http://www.chrisfinke.com/">Talk Less Do More</a> - Chis Finke, former co-worker and good guy.</li>
					
					</ul>
				</div>
				<div class="span3">
					<a class="lightview" href="images/about-mf-large.png" data-lightview-title="The Millennium Falcon" data-lightview-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
						<img class="thumbnail" src="images/about-mf.png" alt="Millenium Falcon">
					</a>
				</div>
			</div>		
		

			<div class="row-fluid">
				<div class="span2">
					<h3>Random Cool Things</h3>
					<p>Links from various friends and co-workers.</p>
				</div>
				<div class="span7">
					<ul>
						<li><a href="http://www.edining.ca/1837/recipes/Heroes_Glug_Glogg_(Swedish_hot_mulled_wine)">Talk Less Do More</a> - My Favorite Glögg Recipe</li>
					
					</ul>
				</div>
				<div class="span3">
					<a class="lightview" href="images/about-mf-large.png" data-lightview-title="The Millennium Falcon" data-lightview-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
						<img class="thumbnail" src="images/about-mf.png" alt="Millenium Falcon">
					</a>
				</div>
			</div>
			
		
		</div>
	</div>



</div>