<!-- start of homepage content -->
<div class="wrapper-fluid" style="min-height : 600px;">

	{% include "homepage_carousel.html" %}

	<div class="container-fluid text-background content-main">
		<div class="padding-wrapper">
	
			<div class="row-fluid">
				<div class="span12 page-header">
					<h1>Home</h1>
					<p class="subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		
			<div class="row-fluid">
				<div class="span12">
					<div id="map_canvas"></div>
				</div>
			</div>
		
			<hr />
		
			<div class="row-fluid">
				<div class="span7">
					<h2>Contact us directly</h2>
					<br />
					<p>When contacting us directly please lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam 
					sodales est id tellus eleifend rhoncus aliquam lacus elementum. Morbi in metus enim, in lobortis nisl. 
					Sed mollis ligula vel dolor imperdiet porta. Curabitur sed elit faucibus est molestie mattis.</p>
					<div class="row-fluid">&nbsp;</div>
				
					<div class="row-fluid">
						<div class="span6">
							<h4>Phone Numbers</h4>
							<p>
								Sales: 1 800 123 4567<br />
								Customer Service: 1 800 123 4568<br />
								Head Office: (515) 123 4567<br />
								Fax: 1 800 123 4569
							</p>
						</div>
					
						<div class="span6">
							<h4>Head Office</h4>
							<p>
								Head Office of Corporatus Industries<br />
								Suite 116, 12 Sweet Street,<br />
								Des Moines, IA<br />
								50301
							</p>
						</div>
					</div>
				
					<div class="row-fluid">&nbsp;</div>
				
					<div class="row-fluid">
						<div class="span6">
							<h4>Regional Office Numbers</h4>
							<p>
								Cedar Rapids: 1 800 123 4570<br />
								Davenport: 1 800 123 4571<br />
								Sioux City: 1 800 123 4572<br />
								Waterloo: 1 800 123 4573
							</p>
						</div>
					
						<div class="span6">
							<h4>National Office (Corporate)</h4>
							<p>
								Corporatus Industries<br />
								Suite 32, 1012 Sweet Street,<br />
								Manhattan, NY<br />
								10001
							</p>
						</div>
					</div>
				</div>
			
				<div class="span5">
					<form class="form contact">
						<fieldset>
							<h2>Send us a message</h2>
							<br />
							<div class="control-group">
								<label class="control-label" for="contact-name">Name</label>
								<div class="controls">
									<input class="span12" type="text" name="contact-name" id="contact-name" placeholder="Your name" />
								</div>
							</div>
						
							<div class="control-group">
								<label class="control-label" for="contact-email">Email</label>
								<div class="controls">
									<input class="span12" type="text" name="contact-email" id="contact-email" placeholder="Your email address" />
								</div>
							</div>
						
							<div class="control-group">
								<label class="control-label" for="contact-phone">Phone</label>
								<div class="controls">
									<input class="span12" type="text" name="contact-phone" id="contact-phone" placeholder="Your phone number" />
								</div>
							</div>
						
							<div class="control-group">
								<label class="control-label" for="contact-message">Message</label>
								<div class="controls">
									<textarea class="span12" rows="8" name="contact-message" id="contact-message" placeholder="Your message"></textarea>
								</div>
							</div>
						
							<input class="btn btn-large btn-info" type="submit" value="Submit" name="submit" />
						
						</fieldset>
					</form>
				</div>
			</div>
		
		</div>
	</div>

</div>
<!-- end of homepahe content-->