<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
		
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		
			<a class="brand" ng-click="setRoute('/')" href="/"><img src="/static/themes/eBusiness/images/logo-Smooth-Blue.png" alt="Blaine Garrett" title="Click to return to homepage" class="logo"></a>
			
			<div class="nav-collapse collapse navigation-top">
				<!--  <p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">Username</a></p> -->
				
				<ul class="nav nav-pills">
					
				<!--
					<li><a ng-click="setRoute('/')" href="/">Home</a></li>
					<li><a ng-click="setRoute('about')" href="/about/">About</a></li>
					<li><a ng-click="setRoute('blog')" href="/blog/">Blog</a></li>
					<li><a ng-click="setRoute('artwork')" href="/artwork/">Artwork</a></li>																				
					<li><a ng-click="setRoute('software')" href="/software/">Programming</a></li>
					<li><a ng-click="setRoute('projects')" href="/projects/">Projects</a></li>					
					<li><a ng-click="setRoute('links')" href="/links/">Links</a></li>
					<li><a ng-click="setRoute('clients')" href="/clients/">Clients</a></li>
					<li><a ng-click="setRoute('contact')" href="/contact/">Contact</a></li>

				-->

					<li><a ng-click="setRoute($event, '/')" title="Return to the home page" href="/">Home</a></li>
					<li><a ng-click="setRoute($event, '/about/')" title="Learn more about me" href="/about/">About</a></li>
					<li><a ng-click="setRoute($event, '/blog/')"  title="View my blog" href="/blog/">Blog</a></li>
					<!-- 
					<li><a ng-click="setRoute($event, '/artwork/')" >Artwork</a></li>																				
					<li><a ng-click="setRoute($event, '/software/')" >Programming</a></li>
					<li><a ng-click="setRoute($event, '/projects/')" >Projects</a></li>					
					<li><a ng-click="setRoute($event, '/links/')" >Links</a></li>
					<li><a ng-click="setRoute($event, '/clients/')" >Clients</a></li>
					<li><a ng-click="setRoute($event, '/contact/')" >Contact</a></li>
					-->

					
				</ul>
			</div>			
		</div>
	</div>
</div>