<html>
	<head>
		<title>Swarling Black Mable - Be back soooooooon</title>
	</head>
	<body>
		
		
		
		<h1>Blaine will be back shortly....</h1>
		<p>In the mean time, enjoy some ascii art by <a href="http://www.ascii-art.de/">this guy</a>.</p>
		
<pre>

                                           ____| |       |
                                           |     | |   | |
                                           __|   | |   |_|
                                          _|    _|\__, |_)
                                                   ____/
                        _.                .---.
                      .''//              /===v)
                    ___  /        _    (\._.&lt;/
        .aaaaa.   .7   ( /       _)\   /    \
       c8888888b /     ) __.---.(   ) /     /.-. .-.
       j8fffff8Y.  __.--'        \ / ___.--./   )   |
       ) e  e  p .'             __) -           \   `--.
      |  (_)  . (            .-'  `           __.'\     )
      `. \   / . \__    _..-'      |       __.'    `---'
        `-=-'  |    """"           .__.---'
                `-.               . ___/
                   `--.______.---'


                      ..aaaaaaaaaaaa.
                 .a888888888888888888888a
                8888888888888888888888'             a:f
                 "PP888888888PPPPP"


    (text by Anne Clark)			
</pre>

</body>

</html>